.dialogOverlay > .dialogContainer.big {
	margin-top: -36px;
	max-height: calc(80% + 36px);
}

.dialogOverlay > .dialogContainer.big .formSubmit.dialogFormSubmit {
	transform: translateY(100%);
	margin-bottom: 1px;
}

.dialogOverlay > .dialogContainer.big .dialogContent {
	padding-bottom: 45px;
    box-sizing: content-box;
}

.dialogOverlay > .dialogContainer.big .dialogContent .systemConfirmation {
	margin-bottom: -36px;
}

.dialogOverlay > .dialogContainer.noconfirm .dialogContent {
	margin-bottom: 0 !important;
}

.dialogOverlay > .dialogContainer.nopadding .dialogContent {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.dialogOverlay > .dialogContainer.noconfirm .formSubmit.dialogFormSubmit {
	visibility: hidden;
	pointer-events: none;
}

@keyframes spinner {
	to { transform: rotate(360deg); }
}

.loading-spinner {
	position: relative;
}

.loading-spinner:before {
	content: '';
	visibility: visible;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border-top: 2px solid #07d;
	border-right: 2px solid transparent;
	animation: spinner .6s linear infinite;
}

