:host {
	transition: margin-top 0.4s ease-in-out;
	--header-color: #822525;
}

.window {
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: max-height 0.4s ease-in-out;
	border: 1px var(--header-color) solid;
}

.window.maximized {
	width: 100vw !important;
	height: calc(100vh - 50px) !important;
	box-sizing: border-box;
}

.window > .content {
	position: relative;
	padding: 8px 12px;
	border: 1px var(--header-color) solid;
	box-sizing: border-box;
	margin: -1px;

}

.window.resizable:not(.minimized) > .content:after {
	font-family: FontAwesome;
	font-size: 14px;
	content: '\00f065';
	transform: rotate(90deg);
	position: absolute;
	right: 2px;
	bottom: 2px;
	color: #d1d1d1;
	cursor: nwse-resize;
}

.window > .header {
	background-color: var(--header-color);
	cursor: pointer;
}

.window > .header > span {
	display: inline-block;
	padding: 8px 12px;
}

.window > .header > .menu {
	display: flex;
	float: right;
}

.window > .header > .menu > * {
	display: block;
	width: 18px; /* more than most FontAwesome icons */
	height: 100%;
	padding: 10px 8px 10px 8px;
}

.window > .header > .menu > *:active {
	filter: brightness(0.85);
}

.window > .header > .menu > .minimize:before { content: '\00f2d1'; }
.window.minimized > .header > .menu > .minimize:before { content: '\00f2d2'; }
.window.maximized > .header > .menu > .minimize { display: none; }

.window > .header > .menu > .maximize:before { content: '\00f2d0'; }
.window.maximized > .header > .menu > .maximize:before { content: '\00f2d2'; }

.window > .content {
	flex: 1;
	background-color: #fafafa;
	color: rgb(80, 44, 44);
}

.window.popup {
	border-radius: 6px;
}

.window.popup > .content,
.window.popup > .header {
	border-radius: 4px;
	flex: 1;
}

.window.popup.square-left,
.window.popup.square-left > .content,
.window.popup.square-left > .header {
	border-left: 1px transparent solid;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.window.popup.pinned,
.window.popup.pinned > .content,
.window.popup.pinned > .header {
	border-left: 1px transparent solid;
}

.flex-columns {
	display: flex;
	flex-direction: row;
}

.flex-rows {
	display: flex;
	flex-direction: column;
}

.flex-columns > *:not(:last-child) {
	margin-right: 10px;
}

.flex-all > * {
	flex: 1;
}

.flex-wide {
	flex: 1;
}

.v-centered {
	display: flex;
	align-items: center;
}

input[type=text] {
	width: 100%;
	padding: 4px 6px;
	box-sizing: content-box;
	border: 1px solid #555;
	outline: none;
}

input[type=text]:focus {
	background-color: #fff2f3;
}

input[type="text"].supershort,
input[type="number"].supershort {
	width: 32px;
	height: 20px;
	padding: 2px;
}

label { height: 25px; display: inline-flex; margin-top: -1px; }
input[type="checkbox"] { opacity: 0; z-index: -1; height: 16px; }
input[type="checkbox"]+span { text-align: left; display: inline-flex; height: 14px; margin-top: 2px; user-select: none; }
input[type="checkbox"]+span:before { color: #4e4b42; font: 16pt FontAwesome; content: '\00f096'; width: 18pt; margin-left: -15pt; }
input[type="checkbox"]+span:empty { margin-left: 16pt; }
input[type="checkbox"]+span:empty:before { margin-left: -16pt; }
input[type="checkbox"]:checked+span:before { content: '\00f046'; }
input[type="checkbox"]:not(.radio):disabled+span { color: #999; }
input[type="checkbox"]:not(.radio):not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }
input[type="checkbox"].radio+span:before { content: '\00f10c '; }
input[type="checkbox"].radio:checked+span:before { content: '\00f111 '; }

.collapsible {
	background-color: #d2d2d2;
	cursor: pointer;
	padding: 2px 4px;
	width: 100%;
	border: none;
	text-align: left;
	box-sizing: border-box;
}

.collapsible:after {
	font-family: FontAwesome;
	content: '\00f078';
	font-weight: bold;
	float: right;
}

.active, .collapsible:hover {
	background-color: #e2e2e2;
}

.active:after {
	content: '\00f077';
}

.collapsible + * {
	padding: 0 13px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}

.child-padding-3 > * {
	padding: 3px;
}

a.button {
	background-color: #dccfcf;
	border-radius: 2px;
	border-width: 0;
	color: rgba(33, 33, 33, 1);
	cursor: pointer;
	font-weight: 400;
	margin: 0;
	padding: 5px 10px;
	text-decoration: none;
	line-height: 1.48;
	user-select: none;
	display: inline-block;
}

a.button.disabled {
	cursor: default;
	background-color: rgb(223, 223, 223);
	color: rgb(165, 165, 165);
}

a.button:hover:not(.disabled) {
	background-color: rgba(156, 120, 120, 1);
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

select {
	margin: 0;
	background-color: rgba(251, 241, 241, 1);
	border: 1px solid rgba(224, 176, 176, 1);
	border-radius: 0;
	color: rgba(80, 44, 44, 1);
	font-weight: 400;
	outline: none;
	padding: 4px 8px;
	line-height: 1.48;
	max-width: 100%;
}

select:focus,
select:hover {
	background-color: rgba(251, 241, 241, 1);
	border-color: rgba(191, 68, 68, 1);
	color: rgba(94, 52, 52, 1);
}

input[type="text"],
input[type="number"] {
	margin: 0;
	background-color: rgba(251, 241, 241, 1);
	border: 1px solid rgba(224, 176, 176, 1);
	border-radius: 0;
	color: rgba(80, 44, 44, 1);
	font-weight: 400;
	outline: none;
	padding: 4px 8px;
	line-height: 1.48;
}

input[type="number"] {
	width: 100%;
}

input[type="text"]:hover,
input[type="text"]:active,,
input[type="number"]:hover,
input[type="number"]:active, {
	background-color: rgba(251, 241, 241, 1);
	border-color: rgba(191, 68, 68, 1);
	color: rgba(94, 52, 52, 1);
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-break {
	white-space: nowrap;
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
}
