:host {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	letter-spacing: -0.2px;
	transition: margin-top 0.2s ease-in-out;
	--header-color: #822525;

}

table {
	all: inherit;
	display: inline-table;
}

.window {
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: max-height 0.2s ease-in-out;
	border: 1px var(--header-color) solid;
}

.dom.child-dom {
	border-left: 1px var(--header-color) solid !important;
	border-right: 1px var(--header-color) solid !important;
}

.child-dom {
	left: 0 !important;
	top: 0 !important;
	position: static !important;
	height: 100%;
	border: none !important;
}

.child-dom > .content {
	border: none !important;
}

.window.maximized {
	width: 100vw !important;
	height: calc(100vh - 50px) !important;
	box-sizing: border-box;
}

.window > .content {
	position: relative;
	padding: 8px 12px;
	border: 1px var(--header-color) solid;
	box-sizing: border-box;
	margin: -1px;
}

.window.resizable:not(.minimized) > .content:after {
	font-family: FontAwesome;
	font-size: 10pt;
	content: '\00f065';
	transform: rotate(90deg);
	position: absolute;
	right: 2px;
	bottom: -4px;
	padding-right: 1px;
	padding-bottom: 1px;
	color: #d1d1d1;
	cursor: nwse-resize;
}

.window > .header {
	position: relative;
	background-color: var(--header-color);
	cursor: pointer;
	color: white;
}

.window > .header > span {
	display: inline-block;
	padding: 6px 10px;
	word-break: break-word;
}

.window > .header.removed span.name {
	text-decoration: line-through;
}

.window.child-dom > .header > span {
	padding: 3px 10px;
}

.window > .header > .menu {
	display: inline-block;
}

.window.child-dom > .header > .menu > * {
	line-height: initial;
	padding: 6px;
}

.window.child-dom > .header > .menu:last-child {
	display: none;
}

.window > .header > .menu > .details {
	font-size: 14px;
	margin-top: -1px;
}

.window > .header > .menu:last-child {
	display: flex;
	float: right;
}

.window > .header > .menu > * {
	display: block;
	width: 18px; /* more than most FontAwesome icons */
	padding: 6px 8px;
}

.window > .header > .menu > *:active {
	filter: brightness(0.85);
}

.window > .header > .menu > .minimize:before { content: '\00f2d1'; }
.window.minimized > .header > .menu > .minimize:before { content: '\00f2d2'; }
.window.maximized > .header > .menu > .minimize { display: none; }

.window > .header > .menu > .maximize:before { content: '\00f2d0'; }
.window.maximized > .header > .menu > .maximize:before { content: '\00f2d2'; }

.window > .header > .menu > .fork { text-align: center; width: 0px; margin-right: -3px; z-index: 2; }

.window > .content {
	flex: 1;
	background-color: #fafafa;
	color: rgb(80, 44, 44);
}

.window.popup {
	border-radius: 6px;
}

.window.popup > .content,
.window.popup > .header {
	border-radius: 4px;
	flex: 1;
}

.window.popup.square-left,
.window.popup.square-left > .content,
.window.popup.square-left > .header {
	border-left: 1px transparent solid;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.window.popup.pinned,
.window.popup.pinned > .content,
.window.popup.pinned > .header {
	border-left: 1px transparent solid;
}

.flex-columns {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	row-gap: 4px;
}

.flex-rows {
	display: flex;
	flex-direction: column;
}

.flex-all > * {
	flex: 1;
}

.flex-basis-all > * {
	flex-basis: 100%;
}

.flex-wide {
	flex: 1;
}

.flex-gap {
	margin-top: -10px;
}

.flex-gap > * {
	margin-top: 10px;
}

.flex-justify > * {
	justify-content: center;
}

.v-centered {
	display: flex;
	align-items: center;
}

.input-text,
input[type=text] {
	width: 100%;
	box-sizing: content-box;
	border: 1px solid #555;
	outline: none;
}

.input-text:focus,
.input-number:focus,
input[type=text]:focus {
	background-color: #fff2f3;
}

.input-text,
.input-number,
.input-select {
	position: relative;
}

.input-text.forked,
.input-number.forked,
.input-select.forked,
.input-select.selected.forked > .edit:after {
	color: #c19f9f;
}

.input-text.forked:before,
.input-number.forked:before,
.input-select.forked:before {
	content: '';
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 6px;
	height: 6px;
	background-color: #e0b0b0;
	z-index: 2;
}

.input-text:empty:after,
.input-number:empty:after {
	content: attr(data-placeholder);
	color: #a39f9f;
	cursor: text;
}

input[type="text"].supershort,
input[type="number"].supershort {
	width: 32px;
	padding: 2px;
}

label { height: 25px; display: inline-flex; margin-top: -1px; }
input[type="checkbox"] { opacity: 0; z-index: -1; height: 16px; }
input[type="checkbox"]+span { text-align: left; display: inline-flex; height: 14px; margin-top: 2px; user-select: none; }
input[type="checkbox"]+span:before { color: #4e4b42; font: 16pt FontAwesome; content: '\00f096'; width: 15pt; margin-left: -15pt; }
input[type="checkbox"]+span:empty { margin-left: 16pt; }
input[type="checkbox"]+span:empty:before { margin-left: -16pt; }
input[type="checkbox"]:checked+span:before { content: '\00f046'; }
input[type="checkbox"]:not(.radio):disabled+span { color: #999; }
input[type="checkbox"]:not(.radio):not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }
input[type="checkbox"].radio+span:before { content: '\00f10c '; }
input[type="checkbox"].radio:checked+span:before { content: '\00f111 '; }

.input-select {
	position: relative;
	width: 118px;
}

.input-select.absolute:before {
	content: '';
	margin: -150vh -150vw;
	padding: 150vh 150vw;
	opacity: 0.3;
	background-color: #000;
}

.input-select.absolute {
	width: 200px;
}

.input-select.absolute.selected {
	display: none;
}

.input-select > .hints {
	position: absolute;
	z-index: 100;
	background-color: rgb(255 230 230);
	color: rgba(80, 44, 44, 1);
	display: flex;
	flex-direction: column;
}

.input-select.hints-on-top > .hints {
	transform: translateY(-100%);
	margin-top: -21px;
	flex-direction: column-reverse;
}

.input-select > .hints > span {
	border: solid 1px rgba(224, 176, 176, 1);
	padding: 2px 5px;
	white-space: pre !important;
	display: block;
}

.input-select > .hints > span > img {
	width: 22px;
	height: 22px;
	margin-bottom: -5px;
}

.input-select > .hints > span:hover {
	background-color: rgba(251, 241, 241, 1);
	border: solid 1px rgba(224, 176, 176, 1);
}

.input-select.selected > .close {
	position: absolute;
	top: 3px;
	right: 3px;
	background-color: #dcb7b7;
	width: 16px;
	height: 17px;
	color: rgba(80, 44, 44, 1);
	font-size: 9pt;
	padding: 0px 3px;
	box-sizing: border-box;
}

.input-select.selected > .close:after {
	content: '\00f00d';
	font-family: FontAwesome;
	position: absolute;
	font-size: 10pt;
	margin-right: -1px;
	margin-top: -2px;
}

.input-select.selected > .close:hover {
	background-color: #c3a0a0;
	color: #6b4133;
}

.input-select.selected > .hints {
	display: none;
}

.input-select.selected {
	position: relative;
	cursor: pointer;
}

.input-select > .edit {
	display: block !important;
	position: relative;
	width: auto;
}

.input-select.selected > .edit:after {
	content: attr(data-text);
	position: absolute;
	left: 3px;
	top: 3px;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	overflow: hidden;
	background-color: #f5dbdb;
	border: solid 1px #e0b0b0;
	color: rgba(80, 44, 44, 1);
	font-size: 10pt;
	padding: 1px 5px;
	box-sizing: border-box;
}

.collapsible {
	background-color: #d2d2d2;
	cursor: pointer;
	padding: 2px 4px;
	width: 100%;
	border: none;
	text-align: left;
	box-sizing: border-box;
}

.collapsible:after {
	font-family: FontAwesome;
	content: '\00f078';
	font-weight: bold;
	float: right;
}

.collapsible.active, .collapsible:hover {
	background-color: #e2e2e2;
}

.collapsible.active:after {
	content: '\00f077';
}

.collapsible + * {
	padding: 0 13px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}

.collapsible + * > *:first-child {
	margin-top: 5px;
}

.collapsible + * > *:last-child {
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.child-padding-3 > * {
	padding: 3px;
}

i.fa {
	line-height: 20px;
}

a {
    color: rgba(230, 81, 0, 1);
    cursor: pointer;
    text-decoration: none;
}

a.button {
	position: relative;
	background-color: #dccfcf;
	border-radius: 2px;
	border-width: 0;
	color: rgba(33, 33, 33, 1);
	cursor: pointer;
	font-weight: 400;
	margin: 0;
	padding: 2px 6px;
	text-decoration: none;
	line-height: 20px;
	user-select: none;
	display: inline-block;
}

a.externalURL:after {
	content: '\f08e';
	display: inline-block;
	font-family: FontAwesome !important;
	font-size: 10pt !important;
	font-weight: normal !important;
	font-style: normal !important;
	margin-left: 4px;
	vertical-align: -1px;
}

a.button.disabled {
	cursor: default;
	background-color: rgb(223, 223, 223);
	color: rgb(165, 165, 165);
	pointer-events: none;
}

a.button:hover:not(.disabled) {
	background-color: rgba(156, 120, 120, 1);
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.item,
.item > img {
	display: inline-block;
	width: 32px;
	height: 32px;
	outline: none;
	user-select: none;
}

.menu-triangle {
	position: relative;
}

.menu-triangle:after,
a.button.menu-triangle:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent #666 transparent;
	right: 0;
	bottom: 0;
	position: absolute;
}

.menu-triangle:hover:after,
a.button.menu-triangle:hover:after {
	border-color: transparent transparent #fff transparent;
}

select {
	margin: 0;
	background-color: rgba(251, 241, 241, 1);
	border: 1px solid rgba(224, 176, 176, 1);
	border-radius: 0;
	color: rgba(80, 44, 44, 1);
	font-weight: 400;
	outline: none;
	padding: 4px 8px;
	line-height: 1;
	max-width: 100%;
}

select:focus,
select:hover {
	background-color: rgba(251, 241, 241, 1);
	border-color: rgba(191, 68, 68, 1);
	color: rgba(94, 52, 52, 1);
}

.input-text,
.input-number,
input[type="text"],
input[type="number"] {
	display: inline-block;
	background-color: rgba(251, 241, 241, 1);
	border: 1px solid rgba(224, 176, 176, 1);
	border-radius: 0;
	color: rgba(80, 44, 44, 1);
	font-weight: 400;
	outline: none;
	padding: 4px 6px;
	line-height: 1;
}

.input-text,
.input-number {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	width: 100px;
}

.input-text:hover,
.input-text:active,
.input-number:hover,
.input-number:active,
input[type="text"]:hover,
input[type="text"]:active,,
input[type="number"]:hover,
input[type="number"]:active, {
	background-color: rgba(251, 241, 241, 1);
	border-color: rgba(191, 68, 68, 1);
	color: rgba(94, 52, 52, 1);
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-break {
	white-space: nowrap;
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
}

.pwitem {
	width: 32px;
	height: 32px;
}

.pw-editable-color-text {
	position: relative;
	flex: 1;
	display: flex;
	min-height: 29px;
	overflow: hidden;
}

.pw-editable-color-text > code {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	border: 1px solid #e0b0b0;
	padding: 2px 3px;
	outline: none !important;
	background-color: #3a3a3a;
	color: #fff;
	width: calc(100% - 8px);
	height: 100%;
	white-space: pre-wrap;
	overflow-y: scroll;
	overflow-x: hidden;
	display: inline-block;
}

.pw-editable-color-text > code,
.pw-editable-color-text > code * {
	user-select: none;
}

.pw-editable-color-text > code > span {
	display: inline !important;
	white-space: pre-wrap !important;
}

.pw-editable-color-text > .color {
	position: absolute;
	right: 20px;
	bottom: 0;
	width: 13px;
	height: 19px;
	color: #ffffff;
	margin-bottom: -6px;
	border: 1px solid #fafafa;
	padding: 3px 5px;
}

.pw-editable-color-text > .color:hover {
	background-color: #6b6b6b;
}

.pw-editable-color-text input[type="color"] {
	width: 20px;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	transform: translateY(3px);
	outline: none;
	display: inline;
	position: relative;
	margin-top: -2px;
}

.pw-editable-color-text input[type="color"].selected:before {
	content: '';
	position: absolute;
	left: 0px;
	top: -3px;
	width: 100%;
	height: 100%;
	background-color: #0c69d8;
	display: inline-block;
	z-index: -1;
}

.pw-editable-color-text .hidden {
	visibility: hidden;
	position: absolute;
}
