:host {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

p {
	margin: 0;
}

.item-container {
	display: grid;
	grid-template-columns: repeat(8, 34px);
}

.item {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 1px;
}

.tooltip {
	display: none;
	position: relative;
}

*:hover > .tooltip {
	display: block;
}

.pw-tooltip {
	position: absolute;
	top: 1px;
	right: -3px;
	transform: translate(100%, 0%);
	padding: 5px;
	border: 1px solid #b47a63;
	box-shadow: 0 0 0 1px #000;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	box-sizing: border-box;
}

.pw-tooltip.left {
	right: auto;
	left: -3px;
	transform: translate(-100%, 0%);
}

#header {
	display: flex;
}

#header > .item {
	margin-right: 5px;
}

.name-container {
	margin: auto;
}

p.title {
	white-space: nowrap;
}
