:host {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	--color-header-bg: #9c3a3a;
	--color-header-fg: #edeced;
	--color-content-bg: #f1ecec;
	--color-button-bg: #dccfcf;
	--color-button-bg-darker: #b9a2a2;
	--color-button-fg: #212121;
}

p, pre {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	white-space: pre-wrap;
}

.flex-equal {
	display: flex;
}

.flex-equal > * {
	flex-grow: 1;
	flex-basis: 0;
}

.item-container {
	display: grid;
	grid-template-columns: repeat(8, 34px);
	margin-bottom: -2px;
	padding: 1px;
}

.item {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.tooltip {
	display: none;
	position: relative;
}

*:hover > .tooltip {
	display: block;
}

.force-visible,
.force-visible > * {
	display: block !important;
}

.force-hidden,
.force-hidden > * {
	display: none !important;
}

.blackfocusbox {
	display: none;
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.pw-tooltip {
	position: absolute;
	top: 1px;
	right: -3px;
	transform: translate(100%, 0%);
	padding: 5px;
	border: 1px solid #b47a63;
	box-shadow: 0 0 0 1px #000;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	box-sizing: border-box;
	z-index: 2;
}

.pw-tooltip.left {
	right: auto;
	left: -3px;
	transform: translate(-100%, 0%);
}

.window {
	border: 1px solid #e0e0e0;
	display: inline-block;
	background-color: var(--color-content-bg);
}

.window > .header {
	display: flex;
	padding: 8px;
	margin: -1px;
	background-color: var(--color-header-bg);
	color: var(--color-header-fg);
}

.window > .content {
	margin: 3px;
}

.data,
.prev,
.diff-plus {
	position: relative;
}

.prev + .data {
	transform: translateY(-100%);
}

.prev {
	transform: translateY(100%);
	color: #808080;
}

.prev + .data:before,
.diff-plus:before,
.prev:before {
	content: '+';
	color: #32dc32;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	position: absolute;
	left: -10px;
	top: calc(50% - 8px);
}

.prev:before {
	content: '-';
	color: red;
}

.item {
	background-color: #000;
	background-immage: url(img/itemslot.png);
}

.nowrap {
	white-space: nowrap;
}
