#tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: calc(68.5px * 4);
	margin: -1px;
	margin-bottom: 3px;
}

#tabs > .tab {
	width: 64.5px;
	min-height: 24px;
	box-sizing: border-box;
	margin: 2px;
	padding: 5px;
	background-color: var(--color-button-bg);
	color: var(--color-button-fg);
	border: 1px solid #b47a63;
	font-size: 11px;
	cursor: pointer;
}

#tabs > .tab:empty {
	background-color: #afabab;
	cursor: initial;
}

#tabs > .tab:empty:after {
	content: '-';
	color: gray;
}

#tabs > .tab.selected {
	background-color: var(--color-button-bg-darker);
}

#tabs > .tab > .prev:before,
#tabs > .tab > .data:before {
		border-left: 1px solid #b47a63;
		background-color:#b9a2a2;
}
