.window {
	width: 280px;
}

.window > .header .prev,
.window > .header .prev + .data {
	margin-left: 8px;
}

#tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: calc(68.5px * 4);
	margin: -1px;
	margin-bottom: 3px;
}

#tabs > .tab {
	width: 64.5px;
	min-height: 24px;
	box-sizing: border-box;
	margin: 2px;
	padding: 5px;
	background-color: var(--color-button-bg);
	color: var(--color-button-fg);
	border: 1px solid #b47a63;
	font-size: 11px;
	cursor: pointer;
}

#tabs > .tab:empty {
	background-color: #afabab;
	cursor: initial;
}

#tabs > .tab:empty:after {
	content: '-';
	color: gray;
}

#tabs > .tab:not(.modified) {
	color: gray;
}

#tabs > .tab.selected,
#tabs > .tab.selected > .prev:before,
#tabs > .tab.selected > .data:before {
	background-color: var(--color-button-bg-darker);
}

#tabs > .tab > .prev:before,
#tabs > .tab > .data:before {
	border-left: 1px solid #b47a63;
	background-color: var(--color-button-bg);
}

pw-recipe {
	position: relative;
	width: 32px;
	height: 32px;
}

pw-recipe:not(.modified):after,
pw-item:not(.modified):after {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.5);
	pointer-events: none;
}

pw-recipe.mini-item[pw-id="0"] {
	visibility: hidden;
}

pw-recipe.mini-item.force-visible[pw-id="0"]:after,
pw-item.mini-item.force-visible[pw-id="0"]:after {
	visibility:visible;
	content: ' ';
	position: absolute;
	left: 4px !important;
	top: 4px!important;
	width: 7px !important;
	height: 7px !important;
	background-color: rgba(48, 224, 48, 0.7);
	border-radius: 50%;
	border: solid 1px #7aff7b;
	pointer-events: none;
	box-shadow: 0px 0px 10px 2px white;
}

::after {}

.item {
	position: relative;
	margin: 1px;
}
