.pw-tooltip {
	display: flex;
	flex-direction: column;
	padding-left: 14px;
}

.pw-tooltip > hr {
	width: 100%;
	margin-left: -8px;
	border: 0;
	height: 1px;
	background-color: #8a6759;
}

.materials,
.targets {
	display: flex;
}

.target,
.material {
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
	min-width: 60px;
}

.targets .prob,
.materials .num {
	display: inline-block;
	margin: 7px 2px 0 0;
	vertical-align: top;
	white-space: nowrap;
	min-width: 26px;
	text-align: right;
}

.target pw-item,
.target pw-item > img {
	width: 24px;
	height: 24px;
}
